### Check if a list contains an element

In [1]:
li = [3,4,'praj',True]

In [2]:
True in li

True

In [3]:
False in li

False

### How to iterate over 2+ lists at the same time

In [7]:
li1 =['praj','nam','pri']
li2 = [26,25,24]

In [10]:
for i,j in zip(li1,li2):
    print(f'Age of {i} is {j}')

Age of praj is 26
Age of nam is 25
Age of pri is 24

### When to use List Vs Dictionary?

List -- WHEN YOU WANT PRESERVE/STORE ORDER OF SOMETHING

While both lists and dictionaries are ordered as of python 3.7, a list allows duplicate values while a dictionary doesn’t allow duplicate keys.

Dictionary -- To count the occurence of something

### Difference between append and extend

In [28]:
import copy

li = [1,2,3]

lis = copy.deepcopy(li)

li.append([4,5])

print(f'list {lis} after appending becomes {li}')

list [1, 2, 3] after appending becomes [1, 2, 3, [4, 5]]

In [29]:
li = [1,2,3]

lis = copy.deepcopy(li)

li.extend([4,5])

print(f'list {lis} after appending becomes {li}')

list [1, 2, 3] after appending becomes [1, 2, 3, 4, 5]

### What does del do?

In [35]:
li = [1,2,3]

In [36]:
del li[1]

In [37]:
li

[1, 3]

### Difference between remove and pop

In [38]:
li = [1,2,3]

li.remove(2)

In [39]:
li

[1, 3]

In [40]:
li.pop()

3

In [42]:
li.append(4)

In [43]:
li

[1, 4]

In [46]:
li.pop(0)

1

In [47]:
li

[4]

#### remove deletes element from the list by using the element value whereas pop deleted element from list by using its index value

### Remove duplicates from list

In [50]:
li = [4,5,5,6,5]

In [55]:
list(set(li))

[4, 5, 6]

### Find the index of the 1st matching element

In [67]:
li = [4,5,5,6,5]

li.index(5,-3,)

2

### Remove all elements from list

In [73]:
li =[1,2,4,5,4,32,12]
del li

In [75]:
print(li)

NameError: name 'li' is not defined

In [76]:
li =[1,2,4,5,4,32,12]

In [77]:
li.clear()

In [78]:
print(li) #by clear structure remains but list becomes emoty

[]

### Iterate over both the values in a list and their indices

In [84]:
li =[1,2,4,5,4,32,12]

for i in enumerate(li):
    print(i)
    key,value = i
    print(f'key is {key} and value is {value}')

(0, 1)
key is 0 and value is 1
(1, 2)
key is 1 and value is 2
(2, 4)
key is 2 and value is 4
(3, 5)
key is 3 and value is 5
(4, 4)
key is 4 and value is 4
(5, 32)
key is 5 and value is 32
(6, 12)
key is 6 and value is 12

### Concatenate 2 list

In [85]:
li1 = [1,2,3]
li2 = [4,5,6]

In [86]:
li1+li2

[1, 2, 3, 4, 5, 6]

### How to manipulate every element in a list with list comprehension

In [87]:
li = [3,4,5,6]

In [92]:
[i+1 for i in li]

[4, 5, 6, 7]

### Count the occurrence of a specific object in a list

In [95]:
li = [3,4,4,6,5,6,6,7,6]

In [96]:
li.count(4)

2

In [97]:
li.count(6)

4

In [98]:
pets = ['dog','cat','fish','fish','cat']
pets.count('fish')

2

### How to shallow copy a list?

In [101]:
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']

round2 = round1.copy()

round1.remove('sonny chiba')

print(f'{round1} after removal with shallow copy {round2}')

['chuck norris', 'bruce lee'] after removal with shallow copy ['chuck norris', 'bruce lee', 'sonny chiba']

### Why create a shallow copy of a list?

In [102]:
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']

round2 = round1

round1.remove('sonny chiba')

print(f'{round1} after removal without shallow copy {round2}')

['chuck norris', 'bruce lee'] after removal without shallow copy ['chuck norris', 'bruce lee']

### How to deep copy a list?

In [103]:
li = [3,4,5,6,4,5]

li1 = copy.deepcopy(li)

li1[0] = 'prajna'


print(f'{li} after insertion with deep copy {li1}')

[3, 4, 5, 6, 4, 5] after insertion with deep copy ['prajna', 4, 5, 6, 4, 5]

### Difference Between Shallow Copy and Deep Copy

In [106]:
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]
import copy
round2 = round1.copy()
round2[0][0] = 'Jet Lee'
print(round1)
print(round2)

[['Jet Lee', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]
[['Jet Lee', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [108]:
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]
import copy
round2 = copy.deepcopy(round1)
round2[0][0] = 'Jet Lee'
print(round1)
print(round2)

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]
[['Jet Lee', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

### Return length of list

In [109]:
li =['praj',4,5,6,'eka']

In [111]:
len(li)

5

### How to check if an element is not in a list?

In [113]:
'eka' not in li

False

In [114]:
'prat' not in li

True

### Multiply every element in a list by 5 with the map function

In [123]:
li = [4,3,5,7,'praj']

[val for val in map(lambda x:x*5,li)]

[20, 15, 25, 35, 'prajprajprajprajpraj']

### Combine 2 lists into a list of tuples with the zip function

In [125]:
li1 = [1,2,3]
li2 = [4,5,6]

for i in zip(li1,li2):
    print(i)

(1, 4)
(2, 5)
(3, 6)

In [126]:
list(zip(li1,li2))

[(1, 4), (2, 5), (3, 6)]

### Insert a value at a specific index in an existing list

In [127]:
li1

[1, 2, 3]

In [130]:
li1.insert(3,5)

In [131]:
li1

[1, 2, 3, 5]

In [132]:
li1.insert(1,0)

In [133]:
li1

[1, 0, 2, 3, 5]

### Subtract values in a list from the first element with the reduce function

In [142]:
from functools import reduce
def subtract(a,b):
    return a - b
numbers = [100,10,5,1,2,7,5]
reduce(subtract, numbers)

70

In [143]:
reduce(lambda a,b:a-b,numbers)

70

### Remove Negative Values from list

In [146]:
a = [-10, 27, 1000, -1, 0, -30]

[val for val in filter(lambda x:x>=0,a)]

[27, 1000, 0]

### Convert a list into a dictionary where list elements are keys

In [153]:
li = ['The', 'quick', 'brown', 'fox', 'was', 'quick']

{i:1 for i in li}

{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

In [156]:
{i[0]:i[1] for i in enumerate(li)}

{0: 'The', 1: 'quick', 2: 'brown', 3: 'fox', 4: 'was', 5: 'quick'}

In [157]:
{i:li.count(i) for i in li}

{'The': 1, 'quick': 2, 'brown': 1, 'fox': 1, 'was': 1}

### Modify an existing list with a lambda function

In [1]:
a = [10,20,30,40,50]

In [6]:
[val * 5 for val in a]

[50, 100, 150, 200, 250]

In [8]:
list(map(lambda val:val*5,a))

[50, 100, 150, 200, 250]

### Remove elements in a list after a specific index

In [9]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

In [10]:
li[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Return every 2nd element in a list between 2 indices

In [12]:
li = [1,2,3,4,5,6,7,8,9,10]

In [14]:
li[0::2]

[1, 3, 5, 7, 9]

### Sort a list in ascending order

In [15]:
li = [3,1,4,2,5,7,8,6,0]

In [16]:
li.sort()

In [17]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Sort a list in descending order

In [18]:
li.sort(reverse=True)

In [19]:
li

[8, 7, 6, 5, 4, 3, 2, 1, 0]

### Filter even values out of a list with list comprehension

In [20]:
li = [1,2,3,4,5,6,7,8,9,10,11,12]

In [28]:
[i for i in li if i%2 != 0]

[1, 3, 5, 7, 9, 11]

### Count occurrences of each value in a list

In [29]:
li = [2,3,4,5,3,3,4,3,5,2,6]

In [35]:
from collections import Counter

Counter(li)

Counter({2: 2, 3: 4, 4: 2, 5: 2, 6: 1})

In [36]:
{i: li.count(i) for i in li}

{2: 2, 3: 4, 4: 2, 5: 2, 6: 1}

### Get the first element from each nested list in a list

In [37]:
li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]

In [39]:
for i in li:
    print(i[0])

1
4
7
10
13

In [40]:
[i[0] for i in li]

[1, 4, 7, 10, 13]

### Combine elements in alist to a single string

In [41]:
li = ['The','quick','brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [43]:
' '.join(li)

'The quick brown fox jumped over the lazy dog'

### What’s the affect of multiplying a list by an integer?

In [44]:
li =[1,2,3,'praj']

In [46]:
li * 2

[1, 2, 3, 'praj', 1, 2, 3, 'praj']

###  Use the “any” function to return True if any value in a list is divisible by 2

In [47]:
li = [1,2,3,5,6]

In [51]:
any(i%2 == 0 for i in li)

True

### Use the “all” function to return True if all values in a list are negative

In [52]:
li = [-2,-3,-4]

In [53]:
all(i<0 for i in li)

True

In [54]:
li1= [2,-3,-4,3]

In [57]:
all(i<0 for i in li1)

False

### Can you sort a list with “None” in it?

In [63]:
li = ['a','def','abc']

In [64]:
li.sort()

In [65]:
li

['a', 'abc', 'def']

In [66]:
li1 = [1,2,None,8,9]

In [67]:
li1.sort()

TypeError: '<' not supported between instances of 'NoneType' and 'int'

#### You cannot sort a list with None in it because comparison operators (used by sort()) can’t compare an integer with None.

### What kind of copy would the list constructor create from an existing list?

In [68]:
li1 = ['a','b']
li2 = list(li1)
li2.append('c')

In [69]:
print(li1)
print(li2)

['a', 'b']
['a', 'b', 'c']

#### By default it is shallow copy

### Reverse the order of a list

In [76]:
li = [3,4,6,2,1,8,7,5]

In [77]:
li[::-1]

[5, 7, 8, 1, 2, 6, 4, 3]

In [78]:
li

[3, 4, 6, 2, 1, 8, 7, 5]

In [79]:
li.reverse()

In [80]:
li

[5, 7, 8, 1, 2, 6, 4, 3]

### What is the difference between reverse and reversed?

In [81]:
li

[5, 7, 8, 1, 2, 6, 4, 3]

In [82]:
list(reversed(li))

[3, 4, 6, 2, 1, 8, 7, 5]

#### reverse reverses list in place and reversed() returns an iterable of the list in reverse order. Similar is the case with sort and sorted.

### Return minimum value in the list

In [84]:
li = [10,1,9,2,8,3,7,4,6,5]

In [85]:
min(li)

1

### Return maximum value in list

In [86]:
max(li)

10

###  Return the sum of values in a list

In [87]:
sum(li)

55

### Use a list as a stack

In [89]:
stack = []

stack.append('Praj')
stack.append('Eka')
stack.append('Prath')
stack.append('Prema')
stack.append('Prasad')

In [90]:
stack

['Praj', 'Eka', 'Prath', 'Prema', 'Prasad']

In [91]:
stack.pop(-1)

'Prasad'

In [92]:
stack.pop()

'Prema'

In [93]:
stack

['Praj', 'Eka', 'Prath']

###  Find the intersection of 2 lists

In [94]:
li1 = [1,2,3]
li2 = [2,3,4]

In [98]:
set(li1) & set(li2)

{2, 3}

In [99]:
li3 = set(li1) & set(li2)

In [100]:
li4 = (set(li1) | set(li2) )-li3

In [102]:
list(li4)

[1, 4]

### Find the difference between a set and another set

In [107]:
set(li1) - set(li2)

{1}

In [108]:
set(li2)-set(li1)

{4}

### Flatten a list of lists with a list comprehensions

In [109]:
li = [[1,2,3],[4,5,6]]

In [116]:
for i in li :
    for j in i:
        print(j)

1
2
3
4
5
6

In [117]:
[j for i in li for j in i]

[1, 2, 3, 4, 5, 6]

### Generate a list of every integer between 2 values

In [118]:
list(range(5,10))

[5, 6, 7, 8, 9]

### Combine 2 lists into a dictionary

In [119]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']

In [121]:
dict(zip(name,animal))

{'Snowball': 'Cat', 'Chewy': 'Dog', 'Bubbles': 'Fish', 'Gruff': 'Goat'}